
        body {
            font-family: Arial;
            margin: 20px;
        }

        div {
            background-color: lightblue;
            border: 2px solid blue;
            padding: 10px;
            margin-bottom: 10px;
        }

        span {
            background-color: lightcoral;
            border: 1px solid red;
            padding: 5px;
        }
  