body {
  font-family: Arial, sans-serif;
  background-image: url('https://img.freepik.com/free-photo/abstract-gradient-background-with-grain-texture_84443-2838.jpg?semt=ais_hybrid&w=740&q=80');
  background-size: cover;
}

.header {
  background: lightblue;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid blue;
}

.box {
  border: 2px solid black;
  margin: 40px;
  padding: 20px;
  background-color: white;
}

h1 {
  border: 2px solid blue;
  text-align: center;
}

p {
  border: 1px dashed red;
  padding: 10px;
  margin: 10px;
}
